In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
import warnings
warnings.filterwarnings(action = 'ignore')

In [2]:
data = pd.read_excel('Data.xlsx')

In [3]:
data.head(5)

,Unnamed: 0,Agent_id,status,lost_reason,budget,lease,movein,source,source_city,source_country,utm_source,utm_medium,des_city,des_country,room_type,lead_id
0,0,1deba9e96f404694373de9749ddd1ca8aa7bb823145a6f...,LOST,Not responding,NaN,NaN,NaT,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,3d59f7548e1af2151b64135003ce63c0a484c26b9b8b16...,268ad70eb5bc4737a2ae28162cbca30118cc94520e49ef...,ecc0e7dc084f141b29479058967d0bc07dee25d9690a98...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,NaN,cd5dc0d9393f3980d11d4ba6f88f8110c2b7a7f7796307...
1,1,299ae77a4ef350ae0dd37d6bba1c002d03444fb1edb236...,LOST,Low budget,NaN,NaN,NaT,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,3d59f7548e1af2151b64135003ce63c0a484c26b9b8b16...,268ad70eb5bc4737a2ae28162cbca30118cc94520e49ef...,5372372f3bf5896820cb2819300c3e681820d82c6efc54...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,NaN,b94693673a5f7178d1b114e4004ad52377d3244dd24a3d...
2,2,c213697430c006013012dd2aca82dd9732aa0a1a6bca13...,LOST,Not responding,£121 - £180 Per Week,Full Year Course Stay 40 - 44 weeks,2022-08-31,7aae3e886e89fc1187a5c47d6cea1c22998ee610ade1f2...,9b8cc3c63cdf447e463c11544924bf027945cbd29675f7...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,11ab03a1a8c367191355c152f39fe28cae5e426fce49ef...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,Ensuite,96ea4e2bf04496c044745938c0299c264c3f4ba079e572...
3,3,eac9815a500f908736d303e23aa227f0957177b0e6756b...,LOST,Low budget,0-0,0,NaT,ba2d0a29556ac20f86f45e4543c0825428cba33fd7a9ea...,a5f0d2d08eb0592087e3a3a2f9c1ba2c67cc30f2efd2bd...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,19372fa44c57a01c37a5a8418779ca3d99b0b59731fb35...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,NaN,1d2b34d8add02a182a4129023766ca4585a8ddced0e5b3...
4,4,1deba9e96f404694373de9749ddd1ca8aa7bb823145a6f...,LOST,Junk lead,NaN,NaN,NaT,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,3d59f7548e1af2151b64135003ce63c0a484c26b9b8b16...,268ad70eb5bc4737a2ae28162cbca30118cc94520e49ef...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,NaN,fc10fffd29cfbe93c55158fb47752a7501c211d253468c...

In [4]:
data = data.loc[:, ~data.columns.str.contains('^Unnamed')]

In [5]:
data.shape

(46608, 15)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46608 entries, 0 to 46607
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Agent_id        46608 non-null  object
 1   status          46608 non-null  object
 2   lost_reason     43244 non-null  object
 3   budget          42908 non-null  object
 4   lease           44267 non-null  object
 5   movein          32970 non-null  datetime64[ns]
 6   source          46608 non-null  object
 7   source_city     46608 non-null  object
 8   source_country  46608 non-null  object
 9   utm_source      46608 non-null  object
 10  utm_medium      46608 non-null  object
 11  des_city        46608 non-null  object
 12  des_country     46608 non-null  object
 13  room_type       23061 non-null  object
 14  lead_id         46608 non-null  object
dtypes: datetime64[ns](1), object(14)
memory usage: 5.3+ MB

In [7]:
data.drop_duplicates(subset=['lead_id'], keep='first', inplace=True)
len(data['lead_id'].unique())

30574

In [8]:
#extracted year from movein
data['movein_year'] = data['movein'].dt.year
data.drop('movein', axis=1, inplace=True)
#data['movein_year'] = data['movein_year'].astype(str)

In [9]:
data = data.drop(['lead_id'], axis=1)

In [10]:
#remove status other than ‘WON’ or ‘LOST’
data = data[data['status'].isin(['WON', 'LOST'])]

In [11]:
data['status'].unique()

array(['LOST', 'WON'], dtype=object)

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30382 entries, 0 to 46607
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Agent_id        30382 non-null  object
 1   status          30382 non-null  object
 2   lost_reason     28348 non-null  object
 3   budget          28024 non-null  object
 4   lease           28890 non-null  object
 5   source          30382 non-null  object
 6   source_city     30382 non-null  object
 7   source_country  30382 non-null  object
 8   utm_source      30382 non-null  object
 9   utm_medium      30382 non-null  object
 10  des_city        30382 non-null  object
 11  des_country     30382 non-null  object
 12  room_type       15091 non-null  object
 13  movein_year     21377 non-null  float64
dtypes: float64(1), object(13)
memory usage: 3.5+ MB

In [13]:
#Missing values
#replacing to NaN
data.replace('9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6c9bc9d493a23be9de0', np.nan, inplace=True)

In [14]:
features_with_na=[features for features in data.columns if data[features].isnull().sum()>1]

for feature in features_with_na:
    print(feature, np.round(data[feature].isnull().mean(), 4),  ' % missing values')

lost_reason 0.0669  % missing values
budget 0.0776  % missing values
lease 0.0491  % missing values
source 0.1291  % missing values
source_city 0.1808  % missing values
source_country 0.1764  % missing values
utm_source 0.0016  % missing values
utm_medium 0.0691  % missing values
des_city 0.0555  % missing values
des_country 0.0555  % missing values
room_type 0.5033  % missing values
movein_year 0.2964  % missing values

In [15]:
data.fillna(data.mode().iloc[0], inplace=True)

In [16]:
data.isnull().sum()

Agent_id          0
status            0
lost_reason       0
budget            0
lease             0
source            0
source_city       0
source_country    0
utm_source        0
utm_medium        0
des_city          0
des_country       0
room_type         0
movein_year       0
dtype: int64

In [17]:
categorical_features = [feature for feature in data.columns if data[feature].dtypes=='object']
for feature in categorical_features:
    print('The feature is {} and number of categories are {}'.format(feature, len(data[feature].unique())))

The feature is Agent_id and number of categories are 117
The feature is status and number of categories are 2
The feature is lost_reason and number of categories are 29
The feature is budget and number of categories are 1385
The feature is lease and number of categories are 252
The feature is source and number of categories are 527
The feature is source_city and number of categories are 3431
The feature is source_country and number of categories are 176
The feature is utm_source and number of categories are 31
The feature is utm_medium and number of categories are 57
The feature is des_city and number of categories are 193
The feature is des_country and number of categories are 13
The feature is room_type and number of categories are 5

In [18]:
data.columns

Index(['Agent_id', 'status', 'lost_reason', 'budget', 'lease', 'source',
       'source_city', 'source_country', 'utm_source', 'utm_medium', 'des_city',
       'des_country', 'room_type', 'movein_year'],
      dtype='object')

In [19]:
# Convert categorical features to numerical using one-hot encoding
data = pd.get_dummies(data, columns=['Agent_id', 'lost_reason', 'budget', 'lease', 'source',
       'source_city', 'source_country', 'utm_source', 'utm_medium', 'des_city',
      'des_country', 'room_type', 'movein_year'], drop_first=True)

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30382 entries, 0 to 46607
Columns: 6217 entries, status to movein_year_2024.0
dtypes: object(1), uint8(6216)
memory usage: 180.6+ MB

In [21]:
#Split the dataset into training and testing datasets
X = data.drop('status', axis=1)
y = data['status']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [22]:
#Train a Random Forest Classifier model
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=100, random_state=42)
rf.fit(X_train, y_train)
rf_pred = rf.predict(X_test)

In [23]:
y_pred=rf_pred
print("Accuracy:", accuracy_score(y_test, y_pred))
print("Precision:", precision_score(y_test, y_pred, average='weighted'))
print("Recall:", recall_score(y_test, y_pred, average='weighted'))
print("F1-Score:", f1_score(y_test, y_pred, average='weighted'))

Accuracy: 0.9800888596346882
Precision: 0.9794238618309786
Recall: 0.9800888596346882
F1-Score: 0.9792464808069024

In [24]:
#Train a Decision Tree Classifier model
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier(random_state=0)
dt.fit(X_train, y_train)
dt_pred = dt.predict(X_test)

In [25]:
y_pred=dt_pred
print("Accuracy:", accuracy_score(y_test, y_pred))
print("Precision:", precision_score(y_test, y_pred, average='weighted'))
print("Recall:", recall_score(y_test, y_pred, average='weighted'))
print("F1-Score:", f1_score(y_test, y_pred, average='weighted'))

Accuracy: 0.9830508474576272
Precision: 0.9830699343411208
Recall: 0.9830508474576272
F1-Score: 0.9830602970645512

In [26]:
#Train a Logistic Regression model
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(X_train, y_train)
lr_pred = lr.predict(X_test)

In [27]:
y_pred=lr_pred
print("Accuracy:", accuracy_score(y_test, y_pred))
print("Precision:", precision_score(y_test, y_pred, average='weighted'))
print("Recall:", recall_score(y_test, y_pred, average='weighted'))
print("F1-Score:", f1_score(y_test, y_pred, average='weighted'))

Accuracy: 0.9866710547967747
Precision: 0.9867836198194949
Recall: 0.9866710547967747
F1-Score: 0.9867226688940104